/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

	#dorch {
		background-image: url('../../img/dorchester.png');
		height: 95px;
		width: 95px;
		margin-bottom:-5em;
  		margin-top:1em;
  		margin-left: 1em;
	}
	#luebb {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Wappen_luebbecke.svg/79px-Wappen_luebbecke.svg.png');
		height: 100px;
		width: 79px;
		margin-bottom: 1em;
		float: right;
		margin-right: 1em;
		margin-top: -6.8em;
	}